[pylint]
good-names =
    i,j,k,ex,Run,_,
    x,y,z,fd,
ignore =
    .venv/*,
    build/*,
    dist/*,
max-args = 6
max-line-length = 125
reports = no

[SIMILARITIES]
ignore-imports = yes
min-similarity-lines = 7

[TYPECHECK]
ignored-modules = distutils,py
